@using OurQu.Entity
@model OurQu.Helper.WebHelper.PageHelper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestPage</title>
</head>
<body>
    <div>
        <table>
            @foreach (var item in Model.Data as IEnumerable<xjn_User>)
            {
                <tr>
                    <td>用户名：</td>
                    <td>@item.U_username</td>
                </tr>
            }
        </table>
        @Html.Raw(Model.FormatPager());
    </div>
</body>
</html>
